.header-outer-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent; /* Transparent by default */
  transition: background-color 0.5s ease; /* Smooth transition on scroll */
}

/* Header becomes black after scrolling */
.header-outer-container.header-black {
  background-color: #141414;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.header-left ul,
.header-right ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-left ul li,
.header-right ul li {
  margin-right: 20px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.header-left ul li img {
  display: block;
}
.header-left ul li:hover {
  color: #e50914;
}
.header-right svg {
  color: white;
  font-size: 28px;
  cursor: pointer;
}
